version: "3.9"
services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    command:
      - '-housekeeping_interval=30s'
      - '--disable_metrics=disk,tcp,udp'
      - '-docker_only=true'
      - '--store_container_labels=false'
    mem_limit: 512m
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    ports:
      - "8080:8080"
    devices:
      - /dev/kmsg:/dev/kmsg
    restart: unless-stopped
    networks:
      - {{NETWORK}}
networks:
  {{NETWORK}}:
    external: true
